@model List<lab8.Models.Blog>

<h2>IndexView</h2>
<h3>Привет!</h3>
<div>Добро пожаловать на страницу с нашими блогами. Они невероятно интересные!</div>

@*<script>
    var b = { "Name": "SuperBlog" }
    console.log("Log starts:");
</script>*@

@Html.ActionLink("Добавить блог", "AddBlog", "Home", new { @class = "btn btn-primary" })

<hr />

<ul class="list-group">
    @foreach (var b in Model)
    {
        <li class="list-group-item">
            @Html.ActionLink(b.Name.IsEmpty() ? "nope" : b.Name, "BlogView", new { id = b.Id }, new { @class = "" })
        </li>
    }
</ul>