@using lab8.Models
@model Post

<div class="display-field col-sm-12 post-list">
    <div><h5>@Html.ActionLink(Model.Title, "PostView", new { id = Model.Id })</h5></div>
    <div>@Model.Content.Substring(0, 300)</div>
    @{
        var count = Model.Comment.Count;
        var countStr = count > 4 && count < 21 || count%10 > 4 || count%10 == 0 ?
            count + " комментариев" :
            count%10 == 1 ? count + " комментарий" : count + " комментария";
    }
    <i>@countStr</i>
</div>